@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }

  .btn-primary {
    @apply inline-flex items-center rounded border border-transparent bg-indigo-600 px-2.5 py-1.5 text-xs font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2
  }

  .btn-secondary {
    @apply inline-flex items-center rounded border border-gray-300 bg-gray-50 text-gray-600 px-2.5 py-1.5 text-xs font-medium shadow-sm hover:bg-gray-200
  }

  .input-text {
    @apply block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
  }

  .input-label {
    @apply block text-sm font-medium leading-6 text-gray-900
  }

  .input-label-xs {
    @apply block text-xs font-medium leading-6 text-gray-900
  }
}

.backdrop {
  background: rgba(0,0,0,0.5);
}
